<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Destroy Class</title>
  </head>
  <body>
    <h1>Are you sure you want to delete the following course?</h1>
    <h2>Name: {{course.name}} </h2>
    <h2>Description: {{course.description}}</h2>

    <form class="" action=" {% url 'courses:remove' id=course.id %}" method="POST">
      <input type="submit" name="yes" value="Yes! I want to remove this">
      {% csrf_token %}

    </form>
    <form class="" action="{% url 'courses:index' %}" method="POST">
      <input type="submit" name="no" value="Nevermind">
      {% csrf_token %}
    </form>


  </body>
</html>
