<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'disappearingNinjas/css/styles.css' %}">
  </head>
  <body>
    <img src="{% static 'disappearingNinjas/imgs/tmnt.png' %}" alt="All Ninjas">
    <img src="{% static 'disappearingNinjas/imgs/donatello.jpg' %}" alt="All Ninjas">
    <img src="{% static 'disappearingNinjas/imgs/leonardo.jpg' %}" alt="All Ninjas">
    <img src="{% static 'disappearingNinjas/imgs/michelangelo.jpg' %}" alt="All Ninjas">
    <img src="{% static 'disappearingNinjas/imgs/raphael.jpg' %}" alt="All Ninjas">

  </body>
</html>
